.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section{
  display: grid;
  grid-gap: 20px;
  padding: 1rem;
}
article{
  background-color: #293462;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
}
nav a{
  text-decoration: none;
  margin-right: 30px;
}
@media(min-width: 600px){
  section{
    grid-template-columns: auto auto;
  }
}
@media(min-width: 768px){
  section{
    grid-template-columns: auto auto auto ;
  }
}
@media(min-width: 1080px){
  section{
    grid-template-columns: auto auto auto auto ;
  }
}